spring:
  application:
    name: retro

  # 민감 정보는 application-secret.yaml에 분리
  profiles:
    include: secret

  # 데이터베이스 설정 (민감 정보 제외)
  datasource:
    driver-class-name: org.postgresql.Driver

  # JPA 설정
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

  # Redis 설정
  data:
    redis:
      host: localhost
      port: 6379

# 서버 설정
server:
  port: 8080

# Swagger 설정
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    disable-swagger-default-url: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
