spring:
  application:
    name: retro

server:
  port: 8080

# Swagger 설정
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    disable-swagger-default-url: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json